.container {
	height: 100%;
	display: flex;
	align-items: center;
	background: linear-gradient(
		135deg,
		rgba(39, 10, 74, 1) 0%,
		rgba(61, 14, 108, 1) 50%,
		rgba(45, 10, 79, 1) 100%
	);
}
.wrapper {
	max-width: 1120px;
	margin: 0 auto;
}
.landing {
	width: inherit;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.text {
	display: grid;
	grid-template-rows: 1fr max-content 0.5fr;
	align-items: center;
	row-gap: 25px;
}
.text_lg {
	font-size: 3rem;
	font-weight: bold;
	width: 544px;
	height: 216px;
}
.text_sm {
	font-size: 1.5rem;
	font-weight: 300;
	width: 480px;
}

.monitor {
	width: 494px;
	height: 540px;
	position: absolute;
	top: 20px;
	transform: rotate(-8deg);
}
.keyboard {
	position: absolute;
	width: 416px;
	height: 436px;
	top: 45%;
	left: 60%;
	transform: scaleX(-1) rotate(8deg);
}

.anim_obj {
	animation: levitate 2s infinite;
}

@keyframes levitate {
	0% {
		transform: translateY(0) rotate(-8deg);
	}
	50% {
		transform: translateY(-5px) rotate(-8deg);
	}
	100% {
		transform: translateY(0) rotate(-8deg);
	}
}

@media (max-width: 1100px) {
	.landing {
		grid-template-columns: 1fr;
	}
	.imgs {
		display: none;
	}
}