.container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ebae12;
	border-radius: 36px;
	transition: all 1s ease-out;
}

.title {
	font-size: 1rem;
	font-weight: bold;
}
