.container {
	position: relative;
	padding: 10px 15px;
	background-color: #3b0e68;
	border-radius: 36px;
	color: #fff;
	z-index: 999;
	box-shadow: 0 0 0 0 #290b4d;
	border: 4px solid white;
	transition: all 0.3s;

	&:hover {
		transform: translateY(-10px);
		box-shadow: 0 10px 0 0 #290b4d;
	}
}

.icon_container {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transform: translate(-70%, -70%);
	background-color: #3b0e68;
	border-radius: 100%;
	border: 4px solid white;
}

.icon {
	width: 52px;
	height: 52px;
}

.title_container {
	text-align: center;
	margin: 5px 0 20px 0px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.text {
	font-size: 16px;
}

@media (max-width: 1300px) {
	.container {
		
		display: inline-flex;
		margin: 0 10px;
		height: auto;

		&:hover {
		transform: none;
		box-shadow: none;
	}
	}

}