/* stylelint-disable selector-class-pattern */
.container {
  position: relative;
  padding: 10px 15px;
  background-color: #593691;
  border-radius: 36px;
  color: #fff;
  z-index: 999;
  box-shadow: 0 0 0 0 #290b4d;
  border: 4px solid white;
  transition: all 0.3s;
  margin: 0 4px;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 0 0 #290b4d;
  }
}

.icon_container {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute; */

  /* transform: translate(-70%, -70%); */
  background-color: #3b0e68;
  border-radius: 100%;
  border: 4px solid white;
}

.icon {
  width: 52px;
  height: 52px;
}

.title_container {
  text-align: center;
  margin: 0 0 20px;
  position: absolute;
  transform: translate(70%, -150%);
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.text {
  font-size: 18px;
  
}
@media (max-width: 1300px) {
  .container {

    margin: 0 10px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

}
