.container {
	width: 100%;
	height: 98px;
	position: absolute;
	z-index: 9999;
}

.navbar {
	width: inherit;
	margin: 0 auto;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
	background-color: transparent;
}

.logo {
	width: 72px;
	height: 72px;
	cursor: pointer;
}

.links {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	align-items: center;
}
.link {
	font-size: 1.1rem;
}
